<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses Report</title>

    <style>


        table,td,tr{
            border:1px solid rgb(0, 0, 0);
            border-spacing: 0px;
        }
       th,td{
        padding: 10px;
        
       }
       th{
        background-color: rgb(127, 127, 211);
        border:1px solid rgb(0, 0, 0);
        padding:8px;
        
       }
    </style>
    
</head>
<body>
    <div><center><h3 style="color:rgb(0, 81, 255)">Day to Day Expenses</h3></center></div>
    
    <div class="container" style="margin:10px; justify-content: center;align-content: center;">
        
        <center><table id="year" style="width:450px" >
            <h4>year</h4>
            
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Category </th>
                <th>Expense </th>
                <th>Income</th>
                
            </tr>
            <tr>
                <td>01-03-2021</td>
                <td>Milk</td>
                <td>Milk</td>
                <td>60.00</td>
                <td>0</td>
            </tr>
            <tr>
                <td>01-03-2021</td>
                <td>Milk</td>
                <td>Milk</td>
                <td>60.00</td>
                <td>0</td>
            </tr>
            <tr>
                <td>01-03-2021</td>
                <td>Milk</td>
                <td>Milk</td>
                <td>60.00</td>
                <td>0</td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: right; ">savings=00.00</td>
            </tr>
            
        </table></center>
        
    </div>
    <br><br>
    <div>
        <center><table id="year" style="width:450px" >
        <h4>Yearly Report</h4>
        
        <tr>
            <th>Month</th>
            <th>Income</th>
            <th>Expense </th>
            <th>Savings </th>
        </tr>
        <tr>
            <td>march</td>
            <td>750000</td>
            <td>5670</td>
            <td>744330.00</td>
        </tr>
        
    </table></center>

    </div>

    <br>
    <div>


        <center><table id="year" style="width:450px" >
            <h4>Notes Report</h4>
            
            <tr>
                <th style="width:100px">Date</th>
                
                <th>Notes</th>
            </tr>
            <tr>
                <td>01-03-2021</td>
                <td>Give advance to construction</td>
                
            </tr>
            
        </table></center>
    </div>

    
</body>
</html>