<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
   <!-- <link rel="stylesheet" href="style.css">--> 
</head>
<body>
    <div class="main">
    <form>
        <div class="subject">
        <label for="name">Enter your name</label>
        <input type="text" name="name" id="name"><br><br>
        <label for="email">Enter your email</label>
        <input type="email" name="email"id="email" ><br>
        <input type="text" name="password" id="password" placeholder="Enter Password Here">
        <button id="submit">Signup</button><br><br>
        <a href="/login">Existing User-Login</a>
    </form> 
    <div id="failuremessage"></div>
    <script src="usersignup.js"></script> 
</div> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</div>
</body>
</html>